# Python cache and notebooks
__pycache__/
.ipynb_checkpoints/
.venv/

# Model and output folders
basetts_outputs_use_bert/
basetts_outputs/
basetts_outputs_package/
multilingual_ckpts/

# Build artifacts
build/
dist/
.build/
*.egg-info/
*.zip
*.wav

# IntelliJ IDEA project folder
.idea/
.idea/*
