--extra-index-url https://download.pytorch.org/whl/cu130

click
cn2an
fastapi
fugashi
g2p-en
g2pkk
gruut
gruut-ipa
gruut-lang-de
gruut-lang-en
gruut-lang-es
gruut-lang-fr
huggingface-hub==0.36.2
inflect
jamo
jieba
mecab-python3
nltk
num2words
numba
numpy
pydantic
pykakasi
pypinyin
soundfile
torch==2.11.0
torchaudio==2.11.0
tqdm
transformers==4.57.6
txtsplit
unidic
unidic-lite
uvicorn[standard]
